.button {
    border: none;
    font-size: 14px;
    padding: 12px 18px;
    border-radius: 8px;
    font: Verdana;
    font-size: 17px;
}

.zero {
  background-color: red;
}

.first {
  background-color: orange;
}

.second {
  background-color: yellow;
}

.third {
  background-color: lime;
}

.fourth {
  background-color: aqua;
}

.fifth {
  background-color: #0033cc;
}

.sixth {
  background-color: #cc33ff;
  margin-top: 6px;
}

.seventh {
  background-color: #a1194b;
}

.zero:hover {
  background-color: #f30000;
}

.first:hover {
  background-color: #ff8100;
}

.second:hover {
  background-color: #ffed00;
}

.third:hover {
  background-color: #00f300;
}

.fourth:hover {
  background-color: #00f1ff;
}

.fifth:hover {
  background-color:#0033aa;
}

.sixth:hover {
  background-color: #cc33d1;
}

.seventh:hover {
  background-color: #85194b;
}

div.tab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: #ffcc00;
    float: left;
    /*border: solid 5px;*/
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ff5050;
}

/* Create an active/current tablink class */
div.tab .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;
    border-top: none;*/
}

































